<div class="hours">
    {{#each days}}
        <div class="control">
            <label>{{label}}</label>
            <input type="text" name="{{label}}" value="{{hours}}" data-hours/>
        </div>
    {{/each}}
</div>